/* header */
* {
    padding: 0px;
    margin: 0px;
}

*::selection {
    background-color: rgb(97, 82, 72);
    color: white;
}

btn::selection {
    background-color: white;
    color: rgb(97, 82, 72);
}

header {
    background-color: rgb(235, 230, 215);
    opacity: 0.9;
    height: 100px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
        rgba(0, 0, 0, 0.3) 0px 3px 5px -3px;
}

.nav-item:hover {
    transform: scale(1.02);
}

.nav-item a::selection {
    background-color: rgb(97, 82, 72);
    color: white;
}

.AGD-logo {
    font-size: 40px;
    font-family: "Cormorant Garamond", serif;
    font-weight: 500;
    font-style: italic;
    color: rgb(170, 146, 146);
    margin-left: 52px;
}

.AGD-img {
    margin-left: 48px;
}

.AGDname {
    font-size: 17px;
    margin-left: 30px;
    font-family: "Cormorant Garamond", serif;
    font-weight: 300;
    font-style: normal;
}

.AGDname::selection {
    background-color: rgb(97, 82, 72);
    color: white;
}

.Nlist {
    font-family: "Cormorant Garamond", serif;
    font-weight: 300;
    font-style: normal;
}
.fa-user-large{
    font-size: 23px;
    color: rgb(154, 134, 120);
    border: 1px solid rgb(123, 105, 92);
    padding: 7px;
    border-radius: 50%;
    margin-right: 0px;
}
.fa-user-large:hover {
    transform: scale(1.02);
    color: rgb(123, 105, 92);
    
}

html,
body {
    background-color: rgba(237, 235, 223, 0.51) !important;
}


/* footer */
footer {
    font-family: "Cormorant Garamond", serif;
    font-weight: 300;
    font-style: normal;
    height: 300px;
    color: white;
    margin-top: 100px;
}

.fc {
    align-items: center;
}

.fc2 {
    padding-left: 245px;
    padding-top: 80px;
    list-style-type: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.fc2 ul {
    margin-right: 200px;
}

.fc2 ul a {
    text-decoration: none;
}

.fc2 ul li {
    margin-bottom: 20px;
}

.fi {
    padding-top: 80px;
}

.fc2 ul li a {
    margin-right: 18px;
    color: white;
    font-size: 24px;
}

.copyright {
    margin-left: 500px;
    font-family: "Cormorant Garamond", serif;
    font-weight: 300;
    font-style: normal;
    font-size: larger;
    background-color: rgba(237, 235, 223, 0.51);
}


html,
body {
    background-color: rgba(237, 235, 223, 0.51) !important;
}



.alex-brush-regular {
    font-family: "Alex Brush", cursive;
    font-weight: 400;
    font-style: normal;
}




/* video */
.video {
    /* margin-top: 200px auto ; */
    margin-top: 100px;
    padding-top: 50px;
    height: 500px;
    /* width: 1200px; */
    width: 100%
}

.rule {
    margin-top: 80px;
    margin-bottom: 0px;
}

/* written content css */
.title {
    font-family: Cormorant Garamond, serif;
    text-align: center;
    justify-content: center;
    color: rgb(136, 113, 97);
    margin-top: 0%;
    margin-bottom: 0px;
    font-size: 40px;
    font-weight: bolder;
}

.DPV {
    margin-top: 20px;
    padding: 0px 110px;
}

.sub-title {
    font-size: x-large;
    font-family: "Alex Brush", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    justify-content: center;
    color: rgb(175, 164, 164);
}

.card-text {
    font-family: Cormorant Garamond, serif;
    margin-left: 70px;
    margin-right: 70px;
    justify-content: center;
    color: rgb(136, 113, 97);
    text-align: center;
    margin-bottom: 30px;
}

.rule {
    margin-left: 66px;
    margin-right: 66px;
    color: rgb(136, 113, 97);
    margin-bottom: 50px;
}



/* grid  */
.img-container {
    margin: 20px 0px 20px 180px;
}

.grid-img {
    height: 550px;
    width: 1090px;
}

.special {
    height: 400px;
    width: 1090px;
}


/* carousel */
.carousel {
    height: 600px;
    width: 1090px;
    margin-left: 180px;
    margin-top: 10px;
    margin-bottom: 100px;
}

/* #carousel-imgs{
    height:"600px" ;
    width:"1100px";
} */

.functionality-button-container {
    display: flex;
    justify-content: center;
    margin: 10px 0px 30px 0px;
}

.functionality-button {
    display: inline-block;
    /* justify-content: center;
    text-align: center; */
    padding: 15px 30px;
    border: 1px solid #B0B0B0;
    /* light grey color */
    text-decoration: none;
    color: #B0B0B0;
    /* light grey color */
    font-size: 16px;
    font-weight: normal;
    letter-spacing: 2px;
    transition: color 0.3s ease, background-color 0.3s ease;
}

.functionality-button:hover {
    color: #FFFFFF;
    background-color: rgb(97, 82, 72);
}


/* next project separate line */
.text-with-lines {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Georgia', serif;
    font-size: 20px;
    /* color: #333; */
    margin: 50px 0 20px 0px;
    letter-spacing: 2px;
    color: rgb(97, 82, 72);
    font-weight: 100;
}

.text-with-lines a {
    text-decoration: none;
    color: rgb(97, 82, 72);
}

.text-with-lines::before,
.text-with-lines::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid rgb(202, 198, 198);
    margin: 0 30px 0 30px;
}

/* next project button */
.container {
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
    width: 1100px;

    margin: auto;
}

.image {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 1090px;
    height: 450px;
    margin-left: 110px;
    margin-bottom: 0px;
}

.overlay {
    font-family: Cormorant Garamond, serif;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
}

.project-button-container {
    display: flex;
    justify-content: center;
    margin: 10px 0px 30px 0px;
}

.project-button {
    display: inline-block;
    /* justify-content: center;
    text-align: center; */
    padding: 15px 30px;
    border: 1px solid #B0B0B0;
    /* light grey color */
    text-decoration: none;
    color: #252424;
    /* light grey color */
    background-color: #ddd;
    opacity: 0.7;
    font-size: 16px;
    font-weight: normal;
    letter-spacing: 2px;
    transition: color 0.3s ease, background-color 0.3s ease;
}

.project-button:hover {
    color: #FFFFFF;
    background-color: rgb(97, 82, 72);
}

/* section4 */

#page-cards {
    margin-top: 60px;
}

.pageCard-items {
    display: flex;
}

.card-content {
    /* margin: 0px 20px; */
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease;
    pointer-events: none;
}

.overlay-text {
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(255, 255, 255);
    opacity: 0;
    transition: opacity 0.5s ease;
    align-items: center;
    text-align: center;
    justify-content: center;
    /* padding: 250px 80px; */
    /* margin: 20px; */
    font-family: "Cormorant Garamond", serif;
    font-weight: 800;
    margin: 20px 15px 60px 12px;
    padding: 230px auto;
    /* box-shadow: rgba(100, 100, 111, 0.2) 0px 5px 29px 0px; */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.cardImg {
    height: 440px;
    width: 440px;
    display: block;
    /* width: 100%; */
    transition: transform 0.5s ease;
    margin: 0px 20px;
    border-radius: 10px;
}

.card-content:hover img {
    transform: scale(1.03);
}

.overlay-text:hover {
    /* border-color: white; */
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
    ;
}

.card-content:hover .overlay-text {
    opacity: 1;
}

.space {
    color: rgba(237, 235, 223, 0.51);
    font-size: x-small;
}

.card-head {
    font-size: 30px;
    text-align: center;
    font-family: "Cormorant Garamond", serif;
    font-weight: 300;
    margin: 20px 0px 0px 100px;
    /* padding-top: 30px; */
    /* margin-top: 80px; */
    text-decoration: none;
    color: rgb(97, 82, 72);
    letter-spacing: 2px;
}

.card-head:hover {
    opacity: 0.6;
}



/* newsletter  */

/* Signup box styling */
.newsletter {
    margin-top: 100px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.signup-box {
    width: 1050px;
    height: 300px;
    padding: 30px 100px;
    border-radius: 0px;
    background-color: rgba(237, 235, 223, 1);
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    text-align: center;
    transition: transform 0.3s ease;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border: 1px solid #ddd;
}

.news-head {
    font-size: 20px;
    font-family: "Cormorant Garamond", serif;
    font-style: normal;
    font-weight: 300;
    margin-bottom: 10px;
    color: #333;
}

.news-head02 {
    font-family: "Cormorant Garamond", serif;
    font-style: normal;
    font-size: 0.9em;
    color: #666;
    margin-bottom: 20px;
}

/* Input styling */
.signup-box input[type="email"] {
    margin-top: 15px;
    width: 100%;
    padding: 10px;
    font-size: 1em;
    margin-bottom: 15px;
    background-color: rgba(237, 235, 223, 0.51);
    border: 1px solid #ddd;
    border-radius: 4px;
    font-family: "Cormorant Garamond", serif;
    font-style: normal;
}

/* Checkbox and label styling */
.signup-box label {
    font-family: "Cormorant Garamond", serif;
    font-style: normal;
    font-size: 0.9em;
    color: #555;
    display: inline-block;
    margin-bottom: 15px;
    cursor: pointer;
    background-color: rgba(237, 235, 223, 1);
}

.signup-box input[type="checkbox"] {
    margin-right: 5px;
    background-color: rgba(237, 235, 223, 1);
}

/* newsletter button  */
.news-btn {
    display: flex;
    justify-content: center;
    margin: 10px 0 20px 0px;
}

.signup-box button {
    font-family: "Cormorant Garamond", serif;
    font-style: normal;
    padding: 10px 50px;
    color: #b0b0b0;
    border: 1px solid #b0b0b0;
    cursor: pointer;
    font-weight: normal;
    letter-spacing: 2px;
    background-color: rgba(237, 235, 223, 1);
}

.signup-box button:hover {
    color: #ffffff;
    background-color: rgb(97, 82, 72);
}

/* Thank you message styling */
.thank-you {
    margin-top: 70px;
    display: none;
    font-size: 2em;
    font-family: "Cormorant Garamond", serif;
    font-style: normal;
    font-weight: 400px;
}




















/* media queries  */


/* Phone size  */
@media (min-width: 0px) and (max-width: 400px) {

    /* header */
    * {
        padding: 0px;
        margin: 0px;
    }

    *::selection {
        background-color: rgb(97, 82, 72);
        color: white;
    }

    btn::selection {
        background-color: white;
        color: rgb(97, 82, 72);
    }

    header {
        background-color: rgb(235, 230, 215);
        opacity: 0.9;
        height: 80px;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
            rgba(0, 0, 0, 0.3) 0px 3px 5px -3px;
    }

    .nav-item:hover {
        transform: scale(1.02);
    }

    .nav-item a::selection {
        background-color: rgb(97, 82, 72);
        color: white;
    }

    .AGD-logo {
        font-size: 30px;
        font-family: "Cormorant Garamond", serif;
        font-weight: 500;
        font-style: italic;
        color: rgb(170, 146, 146);
        margin-left: 32px;
    }

    .AGD-img {
        margin-left: 0px;
        height: 50px;
        width: 90px;
    }

    .AGDname {
        font-size: 14px;
        margin-left: 0px;
        font-family: "Cormorant Garamond", serif;
        font-weight: 300;
        font-style: normal;
    }

    .AGDname::selection {
        background-color: rgb(97, 82, 72);
        color: white;
    }

    .Nlist {
        font-family: "Cormorant Garamond", serif;
        font-weight: 300;
        font-style: normal;
        background-color: rgb(235, 230, 215);
        opacity: 0.9;
        margin-top: 5px;
    }

    .video {
        /* margin-top: 200px auto ; */
        margin-top: 0px;
        padding-top: 0px;
        height: 300px;
        /* width: 1200px; */
        width: 100%
    }

    .rule {
        margin-top: 80px;
        margin-bottom: 0px;
    }

    /* written content css */
    .title {
        font-family: Cormorant Garamond, serif;
        text-align: center;
        justify-content: center;
        color: rgb(136, 113, 97);
        margin-top: 0%;
        margin-bottom: 0px;
        font-size: 20px;
        font-weight: bolder;
    }

    .DPV {
        margin-top: 20px;
        padding: 0px 0px;
    }

    .sub-title {
        font-size: x-large;
        font-family: "Alex Brush", serif;
        font-weight: 400;
        font-style: normal;
        text-align: center;
        justify-content: center;
        color: rgb(175, 164, 164);
    }

    .card-text {
        font-family: Cormorant Garamond, serif;
        margin-left: 70px;
        margin-right: 70px;
        justify-content: center;
        color: rgb(136, 113, 97);
        text-align: center;
        margin-bottom: 30px;
        font-size: 14px;
    }

    .rule {
        margin-left: 66px;
        margin-right: 66px;
        color: rgb(136, 113, 97);
        margin-bottom: 50px;
    }

    /* grid  */
    .img-container {
        margin: 10px 0px 10px 36px;
    }

    .grid-img {
        height: 200px;
        width: 326px;
    }

    .special {
        height: 100px;
        width: 326px;
    }

    /* carousel */
    .carousel {
        height: 250px;
        width: 326px;
        margin-left: 36px;
        margin-top: 10px;
        margin-bottom: 30px;
    }

    .carousel-item img {
        height: 250px;
        width: 326px;
    }

    .functionality-button-container {
        display: flex;
        justify-content: center;
        margin: 10px 0px 30px 0px;
    }

    .functionality-button {
        display: inline-block;
        /* justify-content: center;
    text-align: center; */
        padding: 5px 15px;
        border: 1px solid #B0B0B0;
        /* light grey color */
        text-decoration: none;
        color: #B0B0B0;
        /* light grey color */
        font-size: 15px;
        font-weight: normal;
        letter-spacing: 1px;
        transition: color 0.3s ease, background-color 0.3s ease;
    }

    .functionality-button:hover {
        color: #FFFFFF;
        background-color: rgb(97, 82, 72);
    }

    /* next project separate line */
    .text-with-lines {
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'Georgia', serif;
        font-size: 20px;
        /* color: #333; */
        margin: 20px 0 20px 0px;
        letter-spacing: 2px;
        color: rgb(97, 82, 72);
        font-weight: 100;
        font-size: smaller;
    }

    .text-with-lines a {
        text-decoration: none;
        color: rgb(97, 82, 72);
    }

    .text-with-lines::before,
    .text-with-lines::after {
        content: "";
        flex: 1;
        border-bottom: 1px solid rgb(202, 198, 198);
        margin: 0 10px 0 10px;
    }

    /* next project button */
    .container {
        margin-top: 20px;
        margin-bottom: 20px;
        position: relative;
        width: 1100px;
        margin: auto;
    }

    .image {
        margin-top: 20px;
        margin-bottom: 20px;
        width: 326px;
        height: 200px;
        margin-left: 20px;
        margin-bottom: 0px;
    }

    .overlay {
        font-family: Cormorant Garamond, serif;
        position: absolute;
        top: 65%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        text-align: center;
        padding: 0px;
        border-radius: 8px;
        text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
        font-size: 12px;
    }

    .overlay h5 {
        font-size: small;
    }

    .overlay h1 {
        font-size: small;
    }

    .project-button-container {
        display: flex;
        justify-content: center;
        /* margin: 10px 0px 30px 0px; */
    }

    .project-button {
        display: inline-block;
        /* justify-content: center;
    text-align: center; */
        padding: 5px 0px;
        border: 1px solid #B0B0B0;
        /* light grey color */
        text-decoration: none;
        color: #252424;
        /* light grey color */
        background-color: #ddd;
        height: 40px;
        width: 300px;
        opacity: 0.7;
        font-size: 14px;
        font-weight: normal;
        letter-spacing: 2px;
        transition: color 0.3s ease, background-color 0.3s ease;
    }

    .project-button:hover {
        color: #FFFFFF;
        background-color: rgb(97, 82, 72);
    }

    /* section4 */

    #page-cards {
        margin-top: 60px;
    }

    .pageCard-items {
        display: flex;
    }

    .card-content {
        /* margin: 0px 20px; */
        position: relative;
        /* overflow: hidden; */
        display: inline-block;
    }

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.5s ease;
        pointer-events: none;
    }

    .overlay-text {
        font-size: 1.5rem;
        font-weight: bold;
        color: rgb(255, 255, 255);
        opacity: 0;
        transition: opacity 0.5s ease;
        align-items: center;
        text-align: center;
        justify-content: center;
        /* padding: 250px 80px; */
        /* margin: 20px; */
        font-family: "Cormorant Garamond", serif;
        font-weight: 800;
        margin: 20px 15px 60px 12px;
        padding: 230px auto;
        /* box-shadow: rgba(100, 100, 111, 0.2) 0px 5px 29px 0px; */
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }

    .cardImg {
        height: 140px;
        width: 240px;
        display: block;
        /* width: 100%; */
        transition: transform 0.5s ease;
        margin: 0px 5px;
    }

    /* .card-content:hover img {
        transform: scale(1.03);
    } */

    .overlay-text:hover {
        /* border-color: white; */
        text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
        ;
    }

    .card-content:hover .overlay-text {
        opacity: 1;
    }

    .space {
        color: rgba(237, 235, 223, 0.51);
        font-size: x-small;
    }

    .card-head {
        font-size: 8px;
        text-align: center;
        font-family: "Cormorant Garamond", serif;
        font-weight: 300;
        margin: 0px 0px 0px 20px;
        /* padding-top: 30px; */
        /* margin-top: 80px; */
        text-decoration: none;
        color: rgb(97, 82, 72);
        letter-spacing: 2px;
    }

    .card-head:hover {
        opacity: 0.6;
    }




    /* newsletter  */

    /* Signup box styling */
    .newsletter {
        margin-top: 80px;
        justify-content: center;
        align-items: center;
        display: flex;
    }

    .signup-box {
        width: 300px;
        height: 180px;
        padding: 5px 10px;
        border-radius: 0px;
        background-color: rgba(237, 235, 223, 1);
        /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
        text-align: center;
        transition: transform 0.3s ease;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        border: 1px solid #ddd;
    }

    .news-head {
        font-size: 14px;
        font-family: "Cormorant Garamond", serif;
        font-style: normal;
        font-weight: 300;
        margin-bottom: 4px;
        color: #333;
    }

    .news-head02 {
        font-family: "Cormorant Garamond", serif;
        font-style: normal;
        font-size: 0.6em;
        color: #666;
        margin-bottom: 4px;
    }

    /* Input styling */
    .signup-box input[type="email"] {
        margin-top: 15px;
        width: 100%;
        padding: 5px;
        font-size: 0.7em;
        margin-bottom: 5px;
        background-color: rgba(237, 235, 223, 0.51);
        border: 1px solid #ddd;
        border-radius: 4px;
        font-family: "Cormorant Garamond", serif;
        font-style: normal;
    }

    /* Checkbox and label styling */
    .signup-box label {
        font-family: "Cormorant Garamond", serif;
        font-style: normal;
        font-size: 0.7em;
        color: #555;
        display: inline-block;
        margin-bottom: 15px;
        cursor: pointer;
        background-color: rgba(237, 235, 223, 1);
    }

    .signup-box input[type="checkbox"] {
        height: 10px;
        margin-right: 5px;
        background-color: rgba(237, 235, 223, 1);
    }

    /* newsletter button  */
    .news-btn {
        display: flex;
        justify-content: center;
        margin: 5px 0 10px 0px;
    }

    .signup-box button {
        font-family: "Cormorant Garamond", serif;
        font-style: normal;
        padding: 5px 15px;
        color: #b0b0b0;
        border: 1px solid #b0b0b0;
        cursor: pointer;
        font-weight: normal;
        letter-spacing: 1px;
        background-color: rgba(237, 235, 223, 1);
        font-size: small;
    }

    .signup-box button:hover {
        color: #ffffff;
        background-color: rgb(97, 82, 72);
    }

    /* Thank you message styling */
    .thank-you {
        margin-top: 40px;
        display: none;
        font-size: 1em;
        font-family: "Cormorant Garamond", serif;
        font-style: normal;
        font-weight: 400px;
    }

    /* footer */
    footer {
        font-family: "Cormorant Garamond", serif;
        font-weight: 300;
        font-style: normal;
        height: 150px;
        color: white;
        margin-top: 70px;
        font-size: x-small;
    }

    .fc {
        align-items: center;
    }

    .fc2 {
        padding-left: 5px;
        padding-top: 15px;
        list-style-type: none;
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .fc2 ul {
        margin-right: 10px;
    }

    .fc2 ul a {
        text-decoration: none;
    }

    .fc2 ul li {
        margin-bottom: 10px;
    }

    .fi {
        padding-top: 10px;
    }

    .fc2 ul li a {
        margin-right: 18px;
        color: white;
        font-size: 15px;
    }

    .copyright {
        margin-left: 60px;
        font-family: "Cormorant Garamond", serif;
        font-weight: 300;
        font-style: normal;
        font-size: small;
        background-color: rgba(237, 235, 223, 0.51);
    }



}


















/* tab size  */
@media (min-width:401px) and (max-width:1024px){

    * {
        padding: 0px;
        margin: 0px;
    }
    
    *::selection {
        background-color: rgb(97, 82, 72);
        color: white;
    }
    
    btn::selection {
        background-color: white;
        color: rgb(97, 82, 72);
    }
    
    header {
        background-color: rgb(235, 230, 215);
        opacity: 0.9;
        height: 100px;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
            rgba(0, 0, 0, 0.3) 0px 3px 5px -3px;
    }
    
    .nav-item{
        font-size: 13px;
    }
    .nav-item:hover {
        transform: scale(1.02);
    }
    
    .nav-item a::selection {
        background-color: rgb(97, 82, 72);
        color: white;
    }
    
    .AGD-logo {
        font-size: 30px;
        font-family: "Cormorant Garamond", serif;
        font-weight: 500;
        font-style: italic;
        color: rgb(170, 146, 146);
        margin-left: 22px;
    }
    
    .AGD-img {
        margin-left: 38px;
    }
    
    .AGDname {
        font-size: 13px;
        margin-left: 32px;
        font-family: "Cormorant Garamond", serif;
        font-weight: 300;
        font-style: normal;
    }
    
    .AGDname::selection {
        background-color: rgb(97, 82, 72);
        color: white;
    }
    
    .Nlist {
        font-family: "Cormorant Garamond", serif;
        font-weight: 300;
        font-style: normal;
    }
    
    
    html,
    body {
        background-color: rgba(237, 235, 223, 0.51) !important;
    }
    
    
    
    .alex-brush-regular {
        font-family: "Alex Brush", cursive;
        font-weight: 400;
        font-style: normal;
    }
    
    
    /* Style for the Google Translate hamburger icon */
    .translate-icon {
        position: fixed;
        bottom: 20px;
        /* Adjust position as needed */
        right: 20px;
        background-color: #f1f1f1;
        border: none;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        z-index: 10;
    }
    
    /* Style the icon itself */
    .translate-icon i {
        color: #333;
        font-size: 24px;
    }
    
    /* Style for the Google Translate dropdown */
    .translate-dropdown {
        position: fixed;
        bottom: 80px;
        /* Adjust position based on icon location */
        right: 20px;
        background-color: #f9f9f9;
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 10px;
        z-index: 9;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    }
    
    #googleTranslateContainer {
        display: none;
        position: fixed;
        /* top: 60px; */
        right: 20px;
        background-color: #fff;
        border: 1px solid #ddd;
        /* padding: 30px 100px; */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        z-index: 1000;
    }
    
    /* video */
    .video {
        /* margin-top: 200px auto ; */
        margin-top: 50px;
        padding-top: 50px;
        margin-left: 70px;
        height: 500px;
        /* width: 1200px; */
        width: 85%
    }
    
    .rule {
        margin-top: 50px;
        margin-bottom: 0px;
    }
    
    /* written content css */
    .title {
        font-family: Cormorant Garamond, serif;
        text-align: center;
        justify-content: center;
        color: rgb(136, 113, 97);
        margin-top: 0%;
        margin-bottom: 0px;
        font-size: 40px;
        font-weight: bolder;
    }
    
    .DPV {
        margin-top: 20px;
        padding: 0px 110px;
    }
    
    .sub-title {
        font-size: x-large;
        font-family: "Alex Brush", serif;
        font-weight: 400;
        font-style: normal;
        text-align: center;
        justify-content: center;
        color: rgb(175, 164, 164);
    }
    
    .card-text {
        font-family: Cormorant Garamond, serif;
        margin-left: 70px;
        margin-right: 70px;
        justify-content: center;
        color: rgb(136, 113, 97);
        text-align: center;
        margin-bottom: 30px;
    }
    
    .rule {
        margin-left: 66px;
        margin-right: 66px;
        color: rgb(136, 113, 97);
        margin-bottom: 50px;
    }
    
    
    
    /* grid  */
    .img-container {
        margin: 20px 0px 20px 60px;
    }
    
    .grid-img {
        height: 450px;
        width: 900px;
    }
    
    .special {
        height: 300px;
        width: 900px;
    }
    
    
    /* carousel */
    .carousel {
        height: 600px;
        width: 900px;
        margin-left: 60px;
        margin-top: 10px;
        margin-bottom: 50px;
    }
    
    /* #carousel-imgs{
        height:"600px" ;
        width:"1100px";
    } */
    
    .functionality-button-container {
        display: flex;
        justify-content: center;
        margin: 10px 0px 30px 0px;
    }
    
    .functionality-button {
        display: inline-block;
        /* justify-content: center;
        text-align: center; */
        padding: 15px 30px;
        border: 1px solid #B0B0B0;
        /* light grey color */
        text-decoration: none;
        color: #B0B0B0;
        /* light grey color */
        font-size: 16px;
        font-weight: normal;
        letter-spacing: 2px;
        transition: color 0.3s ease, background-color 0.3s ease;
    }
    
    .functionality-button:hover {
        color: #FFFFFF;
        background-color: rgb(97, 82, 72);
    }
    
    
    /* next project separate line */
    .text-with-lines {
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'Georgia', serif;
        font-size: 20px;
        /* color: #333; */
        margin: 50px 0 20px 0px;
        letter-spacing: 2px;
        color: rgb(97, 82, 72);
        font-weight: 100;
    }
    
    .text-with-lines a {
        text-decoration: none;
        color: rgb(97, 82, 72);
    }
    
    .text-with-lines::before,
    .text-with-lines::after {
        content: "";
        flex: 1;
        border-bottom: 1px solid rgb(202, 198, 198);
        margin: 0 30px 0 30px;
    }
    
    /* next project button */
    .container {
        margin-top: 20px;
        margin-bottom: 20px;
        position: relative;
        width: 1100px;
        margin: auto;
    }
    
    .image {
        margin-top: 20px;
        margin-bottom: 20px;
        width: 1090px;
        height: 450px;
        margin-left: 110px;
        margin-bottom: 0px;
    }
    
    .overlay {
        font-family: Cormorant Garamond, serif;
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        text-align: center;
        padding: 20px;
        border-radius: 8px;
        text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
    }
    
    .project-button-container {
        display: flex;
        justify-content: center;
        margin: 10px 0px 30px 0px;
    }
    
    .project-button {
        display: inline-block;
        /* justify-content: center;
        text-align: center; */
        padding: 15px 30px;
        border: 1px solid #B0B0B0;
        /* light grey color */
        text-decoration: none;
        color: #252424;
        /* light grey color */
        background-color: #ddd;
        opacity: 0.7;
        font-size: 16px;
        font-weight: normal;
        letter-spacing: 2px;
        transition: color 0.3s ease, background-color 0.3s ease;
    }
    
    .project-button:hover {
        color: #FFFFFF;
        background-color: rgb(97, 82, 72);
    }
    
    /* section4 */
    
    #page-cards {
        margin-top: 60px;
    }
    
    .pageCard-items {
        display: flex;
    }
    
    .card-content {
        /* margin: 0px 20px; */
        position: relative;
        overflow: hidden;
        display: inline-block;
    }
    
    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.5s ease;
        pointer-events: none;
    }
    
    .overlay-text {
        font-size: 1.5rem;
        font-weight: bold;
        color: rgb(255, 255, 255);
        opacity: 0;
        transition: opacity 0.5s ease;
        align-items: center;
        text-align: center;
        justify-content: center;
        /* padding: 250px 80px; */
        /* margin: 20px; */
        font-family: "Cormorant Garamond", serif;
        font-weight: 800;
        margin: 20px 15px 60px 12px;
        padding: 230px auto;
        /* box-shadow: rgba(100, 100, 111, 0.2) 0px 5px 29px 0px; */
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
    
    .cardImg {
        height: 390px;
        width: 390px;
        display: block;
        /* width: 100%; */
        transition: transform 0.5s ease;
        margin: 0px 20px;
        border-radius: 10px;
    }
    
    .card-content:hover img {
        transform: scale(1.03);
    }
    
    .overlay-text:hover {
        /* border-color: white; */
        text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
        ;
    }
    
    .card-content:hover .overlay-text {
        opacity: 1;
    }
    
    .space {
        color: rgba(237, 235, 223, 0.51);
        font-size: x-small;
    }
    
    .card-head {
        font-size: 20px;
        text-align: center;
        font-family: "Cormorant Garamond", serif;
        font-weight: 300;
        margin: 20px 0px 0px 90px;
        /* padding-top: 30px; */
        /* margin-top: 80px; */
        text-decoration: none;
        color: rgb(97, 82, 72);
        letter-spacing: 2px;
    }
    
    .card-head:hover {
        opacity: 0.6;
    }
    
    
    
    /* newsletter  */
    
    /* Signup box styling */
    .newsletter {
        margin-top: 100px;
        justify-content: center;
        align-items: center;
        display: flex;
    }
    
    .signup-box {
        width: 700px;
        height: 270px;
        padding: 20px 100px;
        border-radius: 0px;
        background-color: rgba(237, 235, 223, 1);
        /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
        text-align: center;
        transition: transform 0.3s ease;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        border: 1px solid #ddd;
    }
    
    .news-head {
        font-size: 15px;
        font-family: "Cormorant Garamond", serif;
        font-style: normal;
        font-weight: 300;
        margin-bottom: 10px;
        color: #333;
    }
    
    .news-head02 {
        font-family: "Cormorant Garamond", serif;
        font-style: normal;
        font-size: 0.7em;
        color: #666;
        margin-bottom: 10px;
    }
    
    /* Input styling */
    .signup-box input[type="email"] {
        margin-top: 15px;
        width: 100%;
        padding: 10px;
        font-size: 0.8em;
        margin-bottom: 15px;
        background-color: rgba(237, 235, 223, 0.51);
        border: 1px solid #ddd;
        border-radius: 4px;
        font-family: "Cormorant Garamond", serif;
        font-style: normal;
    }
    
    /* Checkbox and label styling */
    .signup-box label {
        font-family: "Cormorant Garamond", serif;
        font-style: normal;
        font-size: 0.9em;
        color: #555;
        display: inline-block;
        margin-bottom: 13px;
        cursor: pointer;
        background-color: rgba(237, 235, 223, 1);
    }
    
    .signup-box input[type="checkbox"] {
        margin-right: 5px;
        background-color: rgba(237, 235, 223, 1);
    }
    
    /* newsletter button  */
    .news-btn {
        display: flex;
        justify-content: center;
        margin: 10px 0 20px 0px;
    }
    
    .signup-box button {
        font-family: "Cormorant Garamond", serif;
        font-style: normal;
        padding: 8px 45px;
        color: #b0b0b0;
        border: 1px solid #b0b0b0;
        cursor: pointer;
        font-weight: normal;
        letter-spacing: 2px;
        background-color: rgba(237, 235, 223, 1);
    }
    
    .signup-box button:hover {
        color: #ffffff;
        background-color: rgb(97, 82, 72);
    }
    
    /* Thank you message styling */
    .thank-you {
        margin-top: 70px;
        display: none;
        font-size: 2em;
        font-family: "Cormorant Garamond", serif;
        font-style: normal;
        font-weight: 400px;
    }


    /* footer */
    footer {
        font-family: "Cormorant Garamond", serif;
        font-weight: 300;
        font-style: normal;
        height: 270px;
        color: white;
        margin-top: 100px;
    }
    
    .fc {
        align-items: center;
    }
    
    .fc2 {
        padding-left: 45px;
        padding-top: 50px;
        list-style-type: none;
    }
    
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    
    .fc2 ul {
        margin-right: 150px;
    }
    
    .fc2 ul a {
        text-decoration: none;
    }
    
    .fc2 ul li {
        margin-bottom: 20px;
    }
    
    .fi {
        padding-top: 80px;
    }
    
    .fc2 ul li a {
        margin-right: 18px;
        color: white;
        font-size: 24px;
    }
    
    .copyright {
        margin-left: 350px;
        font-family: "Cormorant Garamond", serif;
        font-weight: 300;
        font-style: normal;
        font-size: larger;
        background-color: rgba(237, 235, 223, 0.51);
    }
}