/* header */
* {
  padding: 0px;
  margin: 0px;
}

*::selection {
  background-color: rgb(97, 82, 72);
  color: white;
}

btn::selection {
  background-color: white;
  color: rgb(97, 82, 72);
}

header {
  background-color: rgb(235, 230, 215);
  opacity: 0.9;
  height: 100px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 5px -3px;
}

.nav-item:hover {
  transform: scale(1.02);
}

.nav-item a::selection {
  background-color: rgb(97, 82, 72);
  color: white;
}

.AGD-logo {
  font-size: 40px;
  font-family: "Cormorant Garamond", serif;
  font-weight: 500;
  font-style: italic;
  color: rgb(170, 146, 146);
  margin-left: 52px;
}

.AGD-img {
  margin-left: 48px;
}

.AGDname {
  font-size: 17px;
  margin-left: 30px;
  font-family: "Cormorant Garamond", serif;
  font-weight: 300;
  font-style: normal;
}

.AGDname::selection {
  background-color: rgb(97, 82, 72);
  color: white;
}

.Nlist {
  font-family: "Cormorant Garamond", serif;
  font-weight: 300;
  font-style: normal;
}

html,
body {
  background-color: rgba(237, 235, 223, 0.51) !important;
}



/* Style for the Google Translate hamburger icon */
.translate-icon {
  position: fixed;
  bottom: 20px;
  /* Adjust position as needed */
  right: 20px;
  background-color: #f1f1f1;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 10;
}

/* Style the icon itself */
.translate-icon i {
  color: #333;
  font-size: 24px;
}

/* Style for the Google Translate dropdown */
.translate-dropdown {
  position: fixed;
  bottom: 80px;
  /* Adjust position based on icon location */
  right: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  z-index: 9;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

#googleTranslateContainer {
  display: none;
  position: fixed;
  /* top: 60px; */
  right: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  /* padding: 30px 100px; */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.heroVid {
  margin-top: 90px;
  padding-top: 0;
  justify-content: center;
  align-items: center;
  position: relative;
  /* Container for positioning overlay */
  width: 100%;
  /* height: 920px;  */
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
  display: block;
  border: none;
  /* height: auto;  */
  overflow: hidden;
  /* position: relative; */
}

.heroVid iframe {
  width: 100%;
  height: 100%;
  border: none;
  margin-bottom: 0px;
  height: 740px;
  /* overflow: hidden; */
  /* position: absolute;
    transform: translate(-50%, -50%); */
  top: 50%;
  left: 50%;
}

.video-text {
  position: absolute;
  top: 50%;
  /* Center vertically */
  left: 50%;
  /* Center horizontally */
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  font-size: 100px;
  /* font-weight: bold; */
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
  /* Shadow for readability */
  /* font-family: "Alex Brush", cursive;
    font-weight: 400; */
  /* font-style: normal; */
  font-family: "Cormorant Garamond", serif;
  font-weight: 500;
}

.video-text p::selection {
  background-color: white;
  color: rgb(97, 82, 72);
}

/* body{
    padding-top: 0px !important;
    margin-top: 0 !important;
} */

/* written content  */
#writtenContent {
  margin-top: 7px;
  margin-bottom: 100px;
  background-color: rgba(237, 235, 223, 1);
  padding: 30px 10px;
}

.WC-items {
  text-align: center;
}

.WC-para {
  padding: 0px 440px;
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: lighter;
  font-style: normal;
  color: rgb(169, 169, 169);
  font-size: 22px;
}

.WC-para02 {
  margin-top: 30px;
  font-family: "Cormorant Garamond", serif;
  font-weight: 200;
  font-size: 20px;
  padding: 0px 180px;
}

.servicesTypes {
  margin-top: 0 !important;
  padding-top: 0 !important;
  display: flex;
  margin-bottom: 20px;
}

.servicesImg {
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.servicesTypes img {
  overflow: hidden;
  position: relative;
  transition: transform 1.2s ease-in-out;
}

.servicesTypes img:hover {
  transform: scale(1.1);
}

.servicesContent {
  margin: 120px 100px;
  font-family: "Cormorant Garamond", serif;
  font-weight: 300;
  font-style: normal;
  color: rgb(129, 100, 100);
}

.servicesHead {
  text-align: center;
  font-size: 25px;
  font-weight: 500;
  text-decoration: underline;
}

.servicesHead:hover {
  opacity: 0.6;
}

.servicesHead::selection {
  background-color: rgb(97, 82, 72);
  color: white;
}

.servicesPara {
  text-align: justify;
}

.servicesPara::selection {
  background-color: rgb(97, 82, 72);
  color: white;
}

/* FAQ Section Styles */
.faq-container {
  max-width: 1300px;
  height: 560px;
  margin: 100px auto;
  padding: 20px 60px;
  font-family: Arial, sans-serif;
  border: 1px solid #ddd;
}

.FAQ-head {
  margin-top: 20px;
  font-size: 36px;
  font-family: "Cormorant Garamond", serif;
  font-weight: 500;
  font-style: normal;
  color: rgb(97, 82, 72);
  text-decoration: underline;
}

.faq-item {
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
  cursor: pointer;
  position: relative;

}

.faq-question {
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Cormorant Garamond", serif;
  font-weight: 700;
  font-style: normal;
  color: #333;
}

.faq-answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
  font-size: 18px;
  color: #666;
  padding-top: 10px;
  font-family: "Cormorant Garamond", serif;
  font-weight: 300;
  font-style: normal;
}

.faq-item.open .faq-answer {
  max-height: 200px;
  /* Adjust as needed */
}

.plus-symbol {
  font-size: 30px;
  color: #555;
  transition: transform 0.3s ease;
}

.faq-item.open .plus-symbol {
  transform: rotate(45deg);
  /* Changes + to x when opened */
}

/* discover  */
.s3 {
  margin-top: 100px;
  font-family: "Cormorant Garamond", serif;
  font-style: normal;
  background-color: rgba(237, 235, 223, 1);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}

.s3content {
  text-align: center;
  padding: 20px;
}

#s3head {
  font-size: 32px;
  color: rgb(107, 105, 105);
  font-weight: 500;
}

#s3head::selection {
  background-color: rgb(97, 82, 72);
  color: white;
}

#s3para {
  font-size: 18px;
  color: rgb(107, 105, 105);
  font-weight: 300;
}

#s3para::selection {
  background-color: rgb(97, 82, 72);
  color: white;
}

#s3contact1 {
  color: rgb(177, 166, 131);
  margin-bottom: 0;
}

#s3contact1::selection {
  background-color: rgb(97, 82, 72);
  color: white;
}

#s3contact2 {
  color: rgb(177, 166, 131);
  margin-top: 0;
}

#s3contact2::selection {
  background-color: rgb(97, 82, 72);
  color: white;
}

.functionality-button-container {
  display: flex;
  justify-content: center;
  margin: 30px 0 10px 0px;
}

.functionality-button {
  display: inline-block;
  /* justify-content: center;
    text-align: center; */
  padding: 15px 30px;
  border: 1px solid #b0b0b0;
  /* light grey color */
  text-decoration: none;
  color: #b0b0b0;
  /* light grey color */
  font-size: 16px;
  font-weight: normal;
  letter-spacing: 2px;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.functionality-button:hover {
  color: #ffffff;
  background-color: rgb(97, 82, 72);
}


/* newsletter  */

/* Signup box styling */
.newsletter {
  margin-top: 100px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.signup-box {
  width: 1050px;
  height: 300px;
  padding: 30px 100px;
  border-radius: 0px;
  background-color: rgba(237, 235, 223, 1);
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  text-align: center;
  transition: transform 0.3s ease;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border: 1px solid #ddd;
}

.news-head {
  font-size: 20px;
  font-family: "Cormorant Garamond", serif;
  font-style: normal;
  font-weight: 300;
  margin-bottom: 10px;
  color: #333;
}

.news-head02 {
  font-family: "Cormorant Garamond", serif;
  font-style: normal;
  font-size: 0.9em;
  color: #666;
  margin-bottom: 20px;
}

/* Input styling */
.signup-box input[type="email"] {
  margin-top: 15px;
  width: 100%;
  padding: 10px;
  font-size: 1em;
  margin-bottom: 15px;
  background-color: rgba(237, 235, 223, 0.51);
  border: 1px solid #ddd;
  border-radius: 4px;
  font-family: "Cormorant Garamond", serif;
  font-style: normal;
}

/* Checkbox and label styling */
.signup-box label {
  font-family: "Cormorant Garamond", serif;
  font-style: normal;
  font-size: 0.9em;
  color: #555;
  display: inline-block;
  margin-bottom: 15px;
  cursor: pointer;
  background-color: rgba(237, 235, 223, 1);
}

.signup-box input[type="checkbox"] {
  margin-right: 5px;
  background-color: rgba(237, 235, 223, 1);
}

/* newsletter button  */
.news-btn {
  display: flex;
  justify-content: center;
  margin: 10px 0 20px 0px;
}

.signup-box button {
  font-family: "Cormorant Garamond", serif;
  font-style: normal;
  padding: 10px 50px;
  color: #b0b0b0;
  border: 1px solid #b0b0b0;
  cursor: pointer;
  font-weight: normal;
  letter-spacing: 2px;
  background-color: rgba(237, 235, 223, 1);
}

.signup-box button:hover {
  color: #ffffff;
  background-color: rgb(97, 82, 72);
}

/* Thank you message styling */
.thank-you {
  margin-top: 70px;
  display: none;
  font-size: 2em;
  font-family: "Cormorant Garamond", serif;
  font-style: normal;
  font-weight: 400px;
}


/* footer */
footer {
  font-family: "Cormorant Garamond", serif;
  font-weight: 300;
  font-style: normal;
  height: 300px;
  color: white;
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px; */
  margin-top: 100px;
}

fc {
  align-items: center;
}

.fc2 {
  padding-left: 245px;
  padding-top: 80px;
  list-style-type: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.fc2 ul li::selection {
  background-color: white;
  color: rgb(97, 82, 72);
}

.fc2 ul {
  margin-right: 200px;
}

.fc2 ul a {
  text-decoration: none;
}

.fc2 ul li {
  margin-bottom: 20px;
}

.fi {
  padding-top: 80px;
}

.fc2 ul li a {
  margin-right: 18px;
  color: white;
  font-size: 24px;
}

.f3list li h4::selection {
  background-color: white;
  color: rgb(97, 82, 72);
}

.f3list li p::selection {
  background-color: white;
  color: rgb(97, 82, 72);
}

.copyright {
  margin-top: 4px;
  margin-left: 500px;
  font-family: "Cormorant Garamond", serif;
  font-weight: 300;
  font-style: normal;
  font-size: larger;
  background-color: rgba(237, 235, 223, 0.51);
}

.copyright p::selection {
  background-color: rgb(97, 82, 72);
  color: white;
}



















/* media queries  */


/* phone size  */
@media (min-width: 0px) and (max-width: 400px) {

  /* header */
  * {
    padding: 0px;
    margin: 0px;
  }

  *::selection {
    background-color: rgb(97, 82, 72);
    color: white;
  }

  btn::selection {
    background-color: white;
    color: rgb(97, 82, 72);
  }

  header {
    background-color: rgb(235, 230, 215);
    opacity: 0.9;
    height: 80px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
      rgba(0, 0, 0, 0.3) 0px 3px 5px -3px;
  }

  .nav-item:hover {
    transform: scale(1.02);
  }

  .nav-item a::selection {
    background-color: rgb(97, 82, 72);
    color: white;
  }

  .AGD-logo {
    font-size: 30px;
    font-family: "Cormorant Garamond", serif;
    font-weight: 500;
    font-style: italic;
    color: rgb(170, 146, 146);
    margin-left: 20px;
  }

  .AGD-img {
    margin-left: 10px;
    height: 45px;
    width: 80px;
  }

  .AGDname {
    font-size: 14px;
    margin-left: 0px;
    font-family: "Cormorant Garamond", serif;
    font-weight: 300;
    font-style: normal;
  }

  .AGDname::selection {
    background-color: rgb(97, 82, 72);
    color: white;
  }

  .Nlist {
    font-family: "Cormorant Garamond", serif;
    font-weight: 300;
    font-style: normal;
    background-color: rgb(235, 230, 215);
    opacity: 0.9;
    margin-top: 5px;
  }


  html,
  body {
    background-color: rgba(237, 235, 223, 0.51) !important;
  }

  .heroVid {
    margin-top: 20px;
    padding-top: 0;
    justify-content: center;
    align-items: center;
    position: relative;
    /* Container for positioning overlay */
    width: 100%;
    /* height: 920px;  */
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
    display: block;
    border: none;
    /* height: auto;  */
    overflow: hidden;
    /* position: relative; */
  }

  .heroVid iframe {
    width: 100%;
    height: 100%;
    border: none;
    margin-bottom: 0px;
    height: 360px;
    /* overflow: hidden; */
    /* position: absolute;
    transform: translate(-50%, -50%); */
    top: 50%;
    left: 50%;
  }

  .video-text {
    position: absolute;
    top: 52%;
    /* Center vertically */
    left: 50%;
    /* Center horizontally */
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    font-size: 25px;
    /* font-weight: bold; */
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
    /* Shadow for readability */
    /* font-family: "Alex Brush", cursive;
    font-weight: 400; */
    /* font-style: normal; */
    font-family: "Cormorant Garamond", serif;
    font-weight: 500;
  }

  .video-text p::selection {
    background-color: white;
    color: rgb(97, 82, 72);
  }

  /* body{
    padding-top: 0px !important;
    margin-top: 0 !important;
} */

  /* written content  */
  #writtenContent {
    margin-top: 20px;
    margin-bottom: 50px;
    background-color: rgba(237, 235, 223, 1);
    padding: 15px 10px;
  }

  .WC-items {
    text-align: center;
  }

  .WC-para {
    padding: 0px 40px;
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: lighter;
    font-style: normal;
    color: rgb(169, 169, 169);
    font-size: 17px;
  }

  .WC-para02 {
    margin-top: 20px;
    font-family: "Cormorant Garamond", serif;
    font-weight: 200;
    font-size: 15px;
    padding: 0px 20px;
  }

  .servicesTypes {
    margin-top: 0 !important;
    padding-top: 0 !important;
    display: block;
    margin-bottom: 20px;
  }

  .servicesImg {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    height: 500px !important;
    width: 400px !important;
    object-fit: cover;
  }

  /* .servicesTypes img {
    overflow: hidden;
    position: relative;
    transition: transform 1.2s ease-in-out;
  } */

  /* .servicesTypes img:hover {
    transform: scale(1.1);
  } */

  .servicesContent {
    margin: 50px 10px;
    font-family: "Cormorant Garamond", serif;
    font-weight: 300;
    font-style: normal;
    color: rgb(129, 100, 100);
    border: 1px solid #ddd;
    padding: 10px;
  }

  .servicesHead {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    text-decoration: underline;
  }

  .servicesHead:hover {
    opacity: 0.6;
  }

  .servicesHead::selection {
    background-color: rgb(97, 82, 72);
    color: white;
  }

  .servicesPara {
    text-align: justify;
    font-size: 15px;
  }

  .servicesPara::selection {
    background-color: rgb(97, 82, 72);
    color: white;
  }

  /* FAQ Section Styles */
  .faq-container {
    max-width: 390px;
    height: 500px;
    margin: 50px auto;
    padding: 5px 20px;
    font-family: Arial, sans-serif;
    border: 1px solid #ddd;
  }

  .FAQ-head {
    margin-top: 10px;
    font-size: 26px;
    font-family: "Cormorant Garamond", serif;
    font-weight: 500;
    font-style: normal;
    color: rgb(97, 82, 72);
    text-decoration: underline;
  }

  .faq-item {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
    cursor: pointer;
    position: relative;

  }

  .faq-question {
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Cormorant Garamond", serif;
    font-weight: 700;
    font-style: normal;
    color: #333;
  }

  .faq-answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    font-size: 8px;
    color: #666;
    padding-top: 10px;
    font-family: "Cormorant Garamond", serif;
    font-weight: 300;
    font-style: normal;
  }

  .faq-item.open .faq-answer {
    max-height: 90px;
    /* Adjust as needed */
  }

  .plus-symbol {
    font-size: 30px;
    color: #555;
    transition: transform 0.3s ease;
  }

  .faq-item.open .plus-symbol {
    transform: rotate(45deg);
    /* Changes + to x when opened */
  }

  /* discover  */
  .s3 {
    margin-top: 100px;
    font-family: "Cormorant Garamond", serif;
    font-style: normal;
    background-color: rgba(237, 235, 223, 1);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  }

  .s3content {
    text-align: center;
    padding: 20px;
  }

  #s3head {
    font-size: 32px;
    color: rgb(107, 105, 105);
    font-weight: 500;
  }

  #s3head::selection {
    background-color: rgb(97, 82, 72);
    color: white;
  }

  #s3para {
    font-size: 18px;
    color: rgb(107, 105, 105);
    font-weight: 300;
  }

  #s3para::selection {
    background-color: rgb(97, 82, 72);
    color: white;
  }

  #s3contact1 {
    color: rgb(177, 166, 131);
    margin-bottom: 0;
  }

  #s3contact1::selection {
    background-color: rgb(97, 82, 72);
    color: white;
  }

  #s3contact2 {
    color: rgb(177, 166, 131);
    margin-top: 0;
  }

  #s3contact2::selection {
    background-color: rgb(97, 82, 72);
    color: white;
  }

  .functionality-button-container {
    display: flex;
    justify-content: center;
    margin: 30px 0 10px 0px;
  }

  .functionality-button {
    display: inline-block;
    /* justify-content: center;
    text-align: center; */
    padding: 15px 30px;
    border: 1px solid #b0b0b0;
    /* light grey color */
    text-decoration: none;
    color: #b0b0b0;
    /* light grey color */
    font-size: 16px;
    font-weight: normal;
    letter-spacing: 2px;
    transition: color 0.3s ease, background-color 0.3s ease;
  }

  .functionality-button:hover {
    color: #ffffff;
    background-color: rgb(97, 82, 72);
  }


  /* newsletter  */

  /* Signup box styling */
  .newsletter {
    margin-top: 40px;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .signup-box {
    width: 300px;
    height: 180px;
    padding: 5px 10px;
    border-radius: 0px;
    background-color: rgba(237, 235, 223, 1);
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    text-align: center;
    transition: transform 0.3s ease;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border: 1px solid #ddd;
  }

  .news-head {
    font-size: 14px;
    font-family: "Cormorant Garamond", serif;
    font-style: normal;
    font-weight: 300;
    margin-bottom: 4px;
    color: #333;
  }

  .news-head02 {
    font-family: "Cormorant Garamond", serif;
    font-style: normal;
    font-size: 0.6em;
    color: #666;
    margin-bottom: 4px;
  }

  /* Input styling */
  .signup-box input[type="email"] {
    margin-top: 15px;
    width: 100%;
    padding: 5px;
    font-size: 0.7em;
    margin-bottom: 5px;
    background-color: rgba(237, 235, 223, 0.51);
    border: 1px solid #ddd;
    border-radius: 4px;
    font-family: "Cormorant Garamond", serif;
    font-style: normal;
  }

  /* Checkbox and label styling */
  .signup-box label {
    font-family: "Cormorant Garamond", serif;
    font-style: normal;
    font-size: 0.7em;
    color: #555;
    display: inline-block;
    margin-bottom: 15px;
    cursor: pointer;
    background-color: rgba(237, 235, 223, 1);
  }

  .signup-box input[type="checkbox"] {
    height: 10px;
    margin-right: 5px;
    background-color: rgba(237, 235, 223, 1);
  }

  /* newsletter button  */
  .news-btn {
    display: flex;
    justify-content: center;
    margin: 5px 0 10px 0px;
  }

  .signup-box button {
    font-family: "Cormorant Garamond", serif;
    font-style: normal;
    padding: 5px 15px;
    color: #b0b0b0;
    border: 1px solid #b0b0b0;
    cursor: pointer;
    font-weight: normal;
    letter-spacing: 1px;
    background-color: rgba(237, 235, 223, 1);
    font-size: small;
  }

  .signup-box button:hover {
    color: #ffffff;
    background-color: rgb(97, 82, 72);
  }

  /* Thank you message styling */
  .thank-you {
    margin-top: 40px;
    display: none;
    font-size: 1em;
    font-family: "Cormorant Garamond", serif;
    font-style: normal;
    font-weight: 400px;
  }

  /* footer */
  footer {
    font-family: "Cormorant Garamond", serif;
    font-weight: 300;
    font-style: normal;
    height: 150px;
    color: white;
    margin-top: 70px;
    font-size: x-small;
  }

  .fc {
    align-items: center;
  }

  .fc2 {
    padding-left: 5px;
    padding-top: 15px;
    list-style-type: none;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .fc2 ul {
    margin-right: 10px;
  }

  .fc2 ul a {
    text-decoration: none;
  }

  .fc2 ul li {
    margin-bottom: 10px;
  }

  .fi {
    padding-top: 10px;
  }

  .fc2 ul li a {
    margin-right: 18px;
    color: white;
    font-size: 15px;
  }

  .copyright {
    margin-left: 60px;
    font-family: "Cormorant Garamond", serif;
    font-weight: 300;
    font-style: normal;
    font-size: small;
    background-color: rgba(237, 235, 223, 0.51);
  }

}






















/* tab size  */

/* tab size  */
@media (min-width:401px) and (max-width:1024px) {

  * {
    padding: 0px;
    margin: 0px;
  }

  *::selection {
    background-color: rgb(97, 82, 72);
    color: white;
  }

  btn::selection {
    background-color: white;
    color: rgb(97, 82, 72);
  }

  header {
    background-color: rgb(235, 230, 215);
    opacity: 0.9;
    height: 100px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
      rgba(0, 0, 0, 0.3) 0px 3px 5px -3px;
  }

  .nav-item {
    font-size: 13px;
  }

  .nav-item:hover {
    transform: scale(1.02);
  }

  .nav-item a::selection {
    background-color: rgb(97, 82, 72);
    color: white;
  }

  .AGD-logo {
    font-size: 30px;
    font-family: "Cormorant Garamond", serif;
    font-weight: 500;
    font-style: italic;
    color: rgb(170, 146, 146);
    margin-left: 22px;
  }

  .AGD-img {
    margin-left: 38px;
  }

  .AGDname {
    font-size: 13px;
    margin-left: 32px;
    font-family: "Cormorant Garamond", serif;
    font-weight: 300;
    font-style: normal;
  }

  .AGDname::selection {
    background-color: rgb(97, 82, 72);
    color: white;
  }

  .Nlist {
    font-family: "Cormorant Garamond", serif;
    font-weight: 300;
    font-style: normal;
  }


  html,
  body {
    background-color: rgba(237, 235, 223, 0.51) !important;
  }



  .heroVid {
    margin-top: 90px;
    padding-top: 0;
    justify-content: center;
    align-items: center;
    position: relative;
    /* Container for positioning overlay */
    width: 100%;
    /* height: 920px;  */
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
    display: block;
    border: none;
    /* height: auto;  */
    overflow: hidden;
    /* position: relative; */
  }
  
  .heroVid iframe {
    width: 100%;
    height: 100%;
    border: none;
    margin-bottom: 0px;
    height: 540px;
    /* overflow: hidden; */
    /* position: absolute;
      transform: translate(-50%, -50%); */
    top: 50%;
    left: 50%;
  }
  
  .video-text {
    position: absolute;
    top: 50%;
    /* Center vertically */
    left: 50%;
    /* Center horizontally */
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    font-size: 70px;
    /* font-weight: bold; */
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
    /* Shadow for readability */
    /* font-family: "Alex Brush", cursive;
      font-weight: 400; */
    /* font-style: normal; */
    font-family: "Cormorant Garamond", serif;
    font-weight: 500;
  }
  
  .video-text p::selection {
    background-color: white;
    color: rgb(97, 82, 72);
  }
  
  /* body{
      padding-top: 0px !important;
      margin-top: 0 !important;
  } */
  
  /* written content  */
  #writtenContent {
    margin-top: 7px;
    margin-bottom: 100px;
    background-color: rgba(237, 235, 223, 1);
    padding: 30px 10px;
  }
  
  .WC-items {
    text-align: center;
  }
  
  .WC-para {
    padding: 0px 300px;
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: lighter;
    font-style: normal;
    color: rgb(169, 169, 169);
    font-size: 20px;
  }
  
  .WC-para02 {
    margin-top: 30px;
    font-family: "Cormorant Garamond", serif;
    font-weight: 200;
    font-size: 18px;
    padding: 0px 150px;
  }
  
  .servicesTypes {
    margin-top: 0 !important;
    padding-top: 0 !important;
    display: flex;
    margin-bottom: 20px;
  }
  
  .servicesImg {
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    height: 500px;
  }
  
  .servicesTypes img {
    overflow: hidden;
    position: relative;
    transition: transform 1.2s ease-in-out;
  }
  
  .servicesTypes img:hover {
    transform: scale(1.1);
  }
  
  .servicesContent {
    margin: 60px 50px;
    font-family: "Cormorant Garamond", serif;
    font-weight: 300;
    font-style: normal;
    color: rgb(129, 100, 100);
  }
  
  .servicesHead {
    text-align: center;
    font-size: 25px;
    font-weight: 500;
    text-decoration: underline;
  }
  
  .servicesHead:hover {
    opacity: 0.6;
  }
  
  .servicesHead::selection {
    background-color: rgb(97, 82, 72);
    color: white;
  }
  
  .servicesPara {
    text-align: justify;
  }
  
  .servicesPara::selection {
    background-color: rgb(97, 82, 72);
    color: white;
  }
  
  /* FAQ Section Styles */
  .faq-container {
    max-width: 1300px;
    height: 560px;
    margin: 100px auto;
    padding: 20px 60px;
    font-family: Arial, sans-serif;
    border: 1px solid #ddd;
  }
  
  .FAQ-head {
    margin-top: 20px;
    font-size: 36px;
    font-family: "Cormorant Garamond", serif;
    font-weight: 500;
    font-style: normal;
    color: rgb(97, 82, 72);
    text-decoration: underline;
  }
  
  .faq-item {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
    cursor: pointer;
    position: relative;
  
  }
  
  .faq-question {
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Cormorant Garamond", serif;
    font-weight: 700;
    font-style: normal;
    color: #333;
  }
  
  .faq-answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    font-size: 18px;
    color: #666;
    padding-top: 10px;
    font-family: "Cormorant Garamond", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .faq-item.open .faq-answer {
    max-height: 200px;
    /* Adjust as needed */
  }
  
  .plus-symbol {
    font-size: 30px;
    color: #555;
    transition: transform 0.3s ease;
  }
  
  .faq-item.open .plus-symbol {
    transform: rotate(45deg);
    /* Changes + to x when opened */
  }
  
  /* discover  */
  .s3 {
    margin-top: 100px;
    font-family: "Cormorant Garamond", serif;
    font-style: normal;
    background-color: rgba(237, 235, 223, 1);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  }
  
  .s3content {
    text-align: center;
    padding: 20px;
  }
  
  #s3head {
    font-size: 32px;
    color: rgb(107, 105, 105);
    font-weight: 500;
  }
  
  #s3head::selection {
    background-color: rgb(97, 82, 72);
    color: white;
  }
  
  #s3para {
    font-size: 18px;
    color: rgb(107, 105, 105);
    font-weight: 300;
  }
  
  #s3para::selection {
    background-color: rgb(97, 82, 72);
    color: white;
  }
  
  #s3contact1 {
    color: rgb(177, 166, 131);
    margin-bottom: 0;
  }
  
  #s3contact1::selection {
    background-color: rgb(97, 82, 72);
    color: white;
  }
  
  #s3contact2 {
    color: rgb(177, 166, 131);
    margin-top: 0;
  }
  
  #s3contact2::selection {
    background-color: rgb(97, 82, 72);
    color: white;
  }
  
  .functionality-button-container {
    display: flex;
    justify-content: center;
    margin: 30px 0 10px 0px;
  }
  
  .functionality-button {
    display: inline-block;
    /* justify-content: center;
      text-align: center; */
    padding: 15px 30px;
    border: 1px solid #b0b0b0;
    /* light grey color */
    text-decoration: none;
    color: #b0b0b0;
    /* light grey color */
    font-size: 16px;
    font-weight: normal;
    letter-spacing: 2px;
    transition: color 0.3s ease, background-color 0.3s ease;
  }
  
  .functionality-button:hover {
    color: #ffffff;
    background-color: rgb(97, 82, 72);
  }




























  /* newsletter  */

  /* Signup box styling */
  .newsletter {
    margin-top: 100px;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .signup-box {
    width: 700px;
    height: 270px;
    padding: 20px 100px;
    border-radius: 0px;
    background-color: rgba(237, 235, 223, 1);
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    text-align: center;
    transition: transform 0.3s ease;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border: 1px solid #ddd;
  }

  .news-head {
    font-size: 15px;
    font-family: "Cormorant Garamond", serif;
    font-style: normal;
    font-weight: 300;
    margin-bottom: 10px;
    color: #333;
  }

  .news-head02 {
    font-family: "Cormorant Garamond", serif;
    font-style: normal;
    font-size: 0.7em;
    color: #666;
    margin-bottom: 10px;
  }

  /* Input styling */
  .signup-box input[type="email"] {
    margin-top: 15px;
    width: 100%;
    padding: 10px;
    font-size: 0.8em;
    margin-bottom: 15px;
    background-color: rgba(237, 235, 223, 0.51);
    border: 1px solid #ddd;
    border-radius: 4px;
    font-family: "Cormorant Garamond", serif;
    font-style: normal;
  }

  /* Checkbox and label styling */
  .signup-box label {
    font-family: "Cormorant Garamond", serif;
    font-style: normal;
    font-size: 0.9em;
    color: #555;
    display: inline-block;
    margin-bottom: 13px;
    cursor: pointer;
    background-color: rgba(237, 235, 223, 1);
  }

  .signup-box input[type="checkbox"] {
    margin-right: 5px;
    background-color: rgba(237, 235, 223, 1);
  }

  /* newsletter button  */
  .news-btn {
    display: flex;
    justify-content: center;
    margin: 10px 0 20px 0px;
  }

  .signup-box button {
    font-family: "Cormorant Garamond", serif;
    font-style: normal;
    padding: 8px 45px;
    color: #b0b0b0;
    border: 1px solid #b0b0b0;
    cursor: pointer;
    font-weight: normal;
    letter-spacing: 2px;
    background-color: rgba(237, 235, 223, 1);
  }

  .signup-box button:hover {
    color: #ffffff;
    background-color: rgb(97, 82, 72);
  }

  /* Thank you message styling */
  .thank-you {
    margin-top: 70px;
    display: none;
    font-size: 2em;
    font-family: "Cormorant Garamond", serif;
    font-style: normal;
    font-weight: 400px;
  }


  /* footer */
  footer {
    font-family: "Cormorant Garamond", serif;
    font-weight: 300;
    font-style: normal;
    height: 270px;
    color: white;
    margin-top: 100px;
  }

  .fc {
    align-items: center;
  }

  .fc2 {
    padding-left: 45px;
    padding-top: 50px;
    list-style-type: none;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .fc2 ul {
    margin-right: 150px;
  }

  .fc2 ul a {
    text-decoration: none;
  }

  .fc2 ul li {
    margin-bottom: 20px;
  }

  .fi {
    padding-top: 80px;
  }

  .fc2 ul li a {
    margin-right: 18px;
    color: white;
    font-size: 24px;
  }

  .copyright {
    margin-left: 350px;
    font-family: "Cormorant Garamond", serif;
    font-weight: 300;
    font-style: normal;
    font-size: larger;
    background-color: rgba(237, 235, 223, 0.51);
  }
}