<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="CP.component.css">
    
</head>
<body>
    <section class="rows">
    <div class="image-container">
        <img src="https://i.pinimg.com/736x/98/49/b0/9849b06b44586960cff0b851e8cefd03.jpg" alt="Image" class="image" />
        <div class="colors-container">
          <div class="color-box" style="background-color: #F5C8C7;" data-hex="#F5C8C7">
            <p class="hex-code">#F5C8C7</p>
            <p class="color-name">Soft Pink</p>
            <p class="copy-message">Copy</p>
          </div>
          <div class="color-box" style="background-color: #FFD8C2;" data-hex="#FFD8C2">
            <p class="hex-code">#FFD8C2</p>
            <p class="color-name">Light Peach</p>
            <p class="copy-message">Copy</p>
          </div>
          <div class="color-box" style="background-color: #FFFFFF;" data-hex="#FFFFFF">
            <p class="hex-code">#FFFFFF</p>
            <p class="color-name">White</p>
            <p class="copy-message" style="color: black;">Copy</p>
          </div>
          <div class="color-box" style="background-color: #ADEBB3;" data-hex="#ADEBB3">
            <p class="hex-code">#ADEBB3</p>
            <p class="color-name">Mint Green</p>
            <p class="copy-message">Copy</p>
          </div>
        </div>
      </div>

      <div class="image-container">
        <img src="https://i.pinimg.com/564x/00/dd/ca/00ddcaa1c31b134812df75fddd3fa835.jpg" alt="Image" class="image" />
        <div class="colors-container">
          <div class="color-box" style="background-color: #52514A;" data-hex="#52514A">
            <p class="hex-code">#52514A</p>
            <p class="color-name">Fuscous Gray</p>
            <p class="copy-message">Copy</p>
          </div>
          <div class="color-box" style="background-color: #CEC6BB;" data-hex="#CEC6BB">
            <p class="hex-code">#CEC6BB</p>
            <p class="color-name">Swirl</p>
            <p class="copy-message">Copy</p>
          </div>
          <div class="color-box" style="background-color: #A3A3A4;" data-hex="#A3A3A4">
            <p class="hex-code">#A3A3A4</p>
            <p class="color-name">Santas Gray</p>
            <p class="copy-message">Copy</p>
          </div>
          <div class="color-box" style="background-color: #A4AE9A;" data-hex="#A4AE9A">
            <p class="hex-code">#A4AE9A</p>
            <p class="color-name">Bud</p>
            <p class="copy-message">Copy</p>
          </div>
        </div>
      </div>

      <div class="image-container">
        <img src="https://i.pinimg.com/564x/6c/10/16/6c10168de1f1124aa53dbb1c9c75da54.jpg" alt="Image" class="image" />
        <div class="colors-container">
          <div class="color-box" style="background-color: #5F4320;" data-hex="#5F4320">
            <p class="hex-code">#5FA4230</p>
            <p class="color-name">Quincy</p>
            <p class="copy-message">Copy</p>
          </div>
          <div class="color-box" style="background-color: #E0BE9E;" data-hex="#EOBE9E">
            <p class="hex-code">#EOBE9E</p>
            <p class="color-name">Brandy</p>
            <p class="copy-message">Copy</p>
          </div>
          <div class="color-box" style="background-color: #B8A686;" data-hex="#B8A686"> 
            <p class="hex-code">#B8A686</p>
            <p class="color-name">Mongoose</p>
            <p class="copy-message">Copy</p>
          </div>
          <div class="color-box" style="background-color: #B89894;" data-hex="#B89894">
            <p class="hex-code">#B89894</p>
            <p class="color-name">Thatch</p>
            <p class="copy-message">Copy</p>
          </div>
        </div>
      </div>
    </section>
      
    <section class="rows">
      <div class="image-container">
          <img src="https://i.pinimg.com/564x/8f/8d/c1/8f8dc12f50f25950581da4aa92c580ff.jpg" alt="Image" class="image" />
          <div class="colors-container">
            <div class="color-box" style="background-color: #939878;" data-hex="#939878">
              <p class="hex-code">#939878</p>
              <p class="color-name">Gurkha</p>
              <p class="copy-message">Copy</p>
            </div>
            <div class="color-box" style="background-color: #C5BDA4;" data-hex="#C5BDA4">
              <p class="hex-code">#C5BDA4</p>
              <p class="color-name">Coral Reef</p>
              <p class="copy-message">Copy</p>
            </div>
            <div class="color-box" style="background-color: #84848C;" data-hex="#84848C">
              <p class="hex-code">#84848C</p>
              <p class="color-name">Jumbo</p>
              <p class="copy-message">Copy</p>
            </div>
            <div class="color-box" style="background-color: #2B271D;" data-hex="#2B271D">
              <p class="hex-code">#2B271D</p>
              <p class="color-name">Zeus</p>
              <p class="copy-message">Copy</p>
            </div>
          </div>
        </div>

        <div class="image-container">
          <img src="https://i.pinimg.com/564x/3f/9c/dd/3f9cdd39358960491180a70ffa571729.jpg" alt="Image" class="image" />
          <div class="colors-container">
            <div class="color-box" style="background-color: #C3A994;" data-hex="#C3A994">
              <p class="hex-code">#C3A994</p>
              <p class="color-name">Indian Khaki</p>
              <p class="copy-message">Copy</p>
            </div>
            <div class="color-box" style="background-color: #945833;" data-hex="#945833">
              <p class="hex-code">#945833</p>
              <p class="color-name">Mule Fawn</p>
              <p class="copy-message">Copy</p>
            </div>
            <div class="color-box" style="background-color: #6A361B;" data-hex="#6A361B">
              <p class="hex-code">#6A361B</p>
              <p class="color-name">Metallic Copper</p>
              <p class="copy-message">Copy</p>
            </div>
            <div class="color-box" style="background-color: #19120D;" data-hex="#19120D">
              <p class="hex-code">#19120D</p>
              <p class="color-name">Night Rider</p>
              <p class="copy-message">Copy</p>
            </div>
          </div>
        </div>

        <div class="image-container">
          <img src="https://i.pinimg.com/736x/f8/ea/b7/f8eab70a75873004918c176c39a6450e.jpg" alt="Image" class="image" />
          <div class="colors-container">
            <div class="color-box" style="background-color: #C5AC99;" data-hex="#C5AC99">
              <p class="hex-code">#C5AC99</p>
              <p class="color-name">Rodeo Dust</p>
              <p class="copy-message">Copy</p>
            </div>
            <div class="color-box" style="background-color: #8A9785;" data-hex="#8A9785">
              <p class="hex-code">#8A9785</p>
              <p class="color-name">Stack</p>
              <p class="copy-message">Copy</p>
            </div>
            <div class="color-box" style="background-color: #2F211A;" data-hex="#2F211A">
              <p class="hex-code">#2F211A</p>
              <p class="color-name">Oil</p>
              <p class="copy-message">Copy</p>
            </div>
            <div class="color-box" style="background-color: #808384;" data-hex="#808384">
              <p class="hex-code">#808384</p>
              <p class="color-name">Rolling Stone</p>
              <p class="copy-message">Copy</p>
            </div>
          </div>
        </div>
    </section>

    <section class="rows">
      <div class="image-container">
          <img src="https://i.pinimg.com/564x/15/36/96/1536963b6c102ab411035f348ae4e2f1.jpg" alt="Image" class="image" />
          <div class="colors-container">
            <div class="color-box" style="background-color: #67A436;" data-hex="#67A436">
              <p class="hex-code">#67A436</p>
              <p class="color-name">Apple</p>
              <p class="copy-message">Copy</p>
            </div>
            <div class="color-box" style="background-color: #B39A5F;" data-hex="#B39A5F">
              <p class="hex-code">#B39A5F</p>
              <p class="color-name">Teak</p>
              <p class="copy-message">Copy</p>
            </div>
            <div class="color-box" style="background-color: #DAD6C3;" data-hex="#DAD6C3">
              <p class="hex-code">#DAD6C3</p>
              <p class="color-name">Sisal</p>
              <p class="copy-message">Copy</p>
            </div>
            <div class="color-box" style="background-color: #221E15;" data-hex="#221E15">
              <p class="hex-code">#221E15</p>
              <p class="color-name">Charcoal Brown</p>
              <p class="copy-message">Copy</p>
            </div>
          </div>
        </div>
        <div class="image-container">
          <img src="https://i.pinimg.com/736x/97/51/62/9751625af659d33cff585ace77a5ba35.jpg" alt="Image" class="image" />
          <div class="colors-container">
            <div class="color-box" style="background-color: #533D29;" data-hex="#533D29">
              <p class="hex-code">#533D29</p>
              <p class="color-name">Saddle</p>
              <p class="copy-message">Copy</p>
            </div>
            <div class="color-box" style="background-color: #6D5734;" data-hex="#6D5734">
              <p class="hex-code">#6D5734</p>
              <p class="color-name">Shingle Fawn</p>
              <p class="copy-message">Copy</p>
            </div>
            <div class="color-box" style="background-color: #AD9F8D;" data-hex="#AD9F8D">
              <p class="hex-code">#AD9F8D</p>
              <p class="color-name">Napa</p>
              <p class="copy-message">Copy</p>
            </div>
            <div class="color-box" style="background-color: #17130F;" data-hex="#17130F">
              <p class="hex-code">#17130F</p>
              <p class="color-name">Dark Expresso</p>
              <p class="copy-message">Copy</p>
            </div>
          </div>
        </div>
        <div class="image-container">
          <img src="https://i.pinimg.com/564x/11/9f/14/119f14dd0966cf12e48335c670bfc1c6.jpg" alt="Image" class="image" />
          <div class="colors-container">
            <div class="color-box" style="background-color: #1F0F0E;" data-hex="#1F0F0E">
              <p class="hex-code">#1F0F0E</p>
              <p class="color-name">Onyx</p>
              <p class="copy-message">Copy</p>
            </div>
            <div class="color-box" style="background-color: #6C2B2C;" data-hex="#6C2B2C">
              <p class="hex-code">#6C2B2C</p>
              <p class="color-name">Buccaneer</p>
              <p class="copy-message">Copy</p>
            </div>
            <div class="color-box" style="background-color: #A46456;" data-hex="#A46456">
              <p class="hex-code">#A46465</p>
              <p class="color-name">Matrix</p>
              <p class="copy-message">Copy</p>
            </div>
            <div class="color-box" style="background-color: #E8CCC8;" data-hex="#E8CCC8">
              <p class="hex-code">#E8CCC8</p>
              <p class="color-name">Oyster Pink</p>
              <p class="copy-message">Copy</p>
            </div>
          </div>
        </div>
    </section>

    <section class="rows">
      <div class="image-container">
          <img src="https://i.pinimg.com/564x/b1/ea/0d/b1ea0d69c4aa2ed80e3d96c463725df9.jpg" alt="Image" class="image" />
          <div class="colors-container">
            <div class="color-box" style="background-color: #18120E;" data-hex="#18120E">
              <p class="hex-code">#18120E</p>
              <p class="color-name">Rich Mocha</p>
              <p class="copy-message">Copy</p>
            </div>
            <div class="color-box" style="background-color: #8F705A;" data-hex="#8F705A">
              <p class="hex-code">#8F705A</p>
              <p class="color-name">Beaver</p>
              <p class="copy-message">Copy</p>
            </div>
            <div class="color-box" style="background-color: #ACAFB4;" data-hex="#ACAFB4">
              <p class="hex-code">#ACAFB4</p>
              <p class="color-name">Bombay</p>
              <p class="copy-message">Copy</p>
            </div>
            <div class="color-box" style="background-color: #E3E5E2;" data-hex="#E3E5E2">
              <p class="hex-code">#E3E5E2</p>
              <p class="color-name">Gray Nurse</p>
              <p class="copy-message">Copy</p>
            </div>
          </div>
        </div>
        <div class="image-container">
          <img src="https://i.pinimg.com/564x/0c/31/31/0c31319e5dc6af59cbae61af83d36979.jpg" alt="Image" class="image" />
          <div class="colors-container">
            <div class="color-box" style="background-color: #171412;" data-hex="#171412">
              <p class="hex-code">#171412</p>
              <p class="color-name">Chestnut Black</p>
              <p class="copy-message">Copy</p>
            </div>
            <div class="color-box" style="background-color: #A98C72;" data-hex="#A98C72">
              <p class="hex-code">#A98C72</p>
              <p class="color-name">Sandal</p>
              <p class="copy-message">Copy</p>
            </div>
            <div class="color-box" style="background-color: #BEAA98;" data-hex="#BEAA98">
              <p class="hex-code">#BEAA98</p>
              <p class="color-name">Malta</p>
              <p class="copy-message">Copy</p>
            </div>
            <div class="color-box" style="background-color: #E1D5C8;" data-hex="#E1D5C8">
              <p class="hex-code">#E1D5C8</p>
              <p class="color-name">Pearl Blush</p>
              <p class="copy-message">Copy</p>
            </div>
          </div>
        </div>
        <div class="image-container">
          <img src="https://i.pinimg.com/564x/75/cf/3c/75cf3c610c867823b580caf80e834889.jpg" alt="Image" class="image" />
          <div class="colors-container">
            <div class="color-box" style="background-color: #323232;" data-hex="#323232">
              <p class="hex-code">#323232</p>
              <p class="color-name">Mine Shaft</p>
              <p class="copy-message">Copy</p>
            </div>
            <div class="color-box" style="background-color: #86939C;" data-hex="#86939C">
              <p class="hex-code">#86939C</p>
              <p class="color-name">Regent Gray</p>
              <p class="copy-message">Copy</p>
            </div>
            <div class="color-box" style="background-color: #8BA097;" data-hex="#8BA097">
              <p class="hex-code">#8BA097</p>
              <p class="color-name">Mantle</p>
              <p class="copy-message">Copy</p>
            </div>
            <div class="color-box" style="background-color: #C5C3BD;" data-hex="#C5C3BD">
              <p class="hex-code">#C5C3BD</p>
              <p class="color-name">Cloud</p>
              <p class="copy-message">Copy</p>
            </div>
          </div>
        </div>
    </section>

    <section class="rows">
      <div class="image-container">
          <img src="https://i.pinimg.com/564x/54/aa/4b/54aa4b00d1e11dd30c8744f01e87ab01.jpg" alt="Image" class="image" />
          <div class="colors-container">
            <div class="color-box" style="background-color: #2A2315;" data-hex="#2A2315">
              <p class="hex-code">#2A2315</p>
              <p class="color-name">Olive Brown</p>
              <p class="copy-message">Copy</p>
            </div>
            <div class="color-box" style="background-color: #84848C;" data-hex="#84848C">
              <p class="hex-code">#84848C</p>
              <p class="color-name">Slate Gray</p>
              <p class="copy-message">Copy</p>
            </div>
            <div class="color-box" style="background-color: #89994D" data-hex="#89994D">
              <p class="hex-code">#89994D</p>
              <p class="color-name">Asparagus</p>
              <p class="copy-message">Copy</p>
            </div>
            <div class="color-box" style="background-color: #C09D5D;" data-hex="#C09D5D">
              <p class="hex-code">#C09D5D</p>
              <p class="color-name">Twine</p>
              <p class="copy-message">Copy</p>
            </div>
          </div>
        </div>
        <div class="image-container">
          <img src="https://i.pinimg.com/564x/41/9f/07/419f07a31a999d0c142a3ba512bd6d6c.jpg" alt="Image" class="image" />
          <div class="colors-container">
            <div class="color-box" style="background-color: #918B8D;" data-hex="#918B8D">
              <p class="hex-code">#918B8D</p>
              <p class="color-name">Venus</p>
              <p class="copy-message">Copy</p>
            </div>
            <div class="color-box" style="background-color: #5E2F22;" data-hex="#5E2F22">
              <p class="hex-code">#5E2F22</p>
              <p class="color-name">Irish Brown</p>
              <p class="copy-message">Copy</p>
            </div>
            <div class="color-box" style="background-color: #D3AA91;" data-hex="#D3AA91">
              <p class="hex-code">#D3AA91</p>
              <p class="color-name">Tan</p>
              <p class="copy-message">Copy</p>
            </div>
            <div class="color-box" style="background-color: #A8997E;" data-hex="#A8997E">
              <p class="hex-code">#A8997E</p>
              <p class="color-name">Donkey Brown</p>
              <p class="copy-message">Copy</p>
            </div>
          </div>
        </div>
        <div class="image-container">
          <img src="https://i.pinimg.com/564x/69/7e/e8/697ee84625426b32cf9c217941a5ae28.jpg" alt="Image" class="image" />
          <div class="colors-container">
            <div class="color-box" style="background-color: #2E2927;" data-hex="#2E2927">
              <p class="hex-code">#2E2927</p>
              <p class="color-name">Dune</p>
              <p class="copy-message">Copy</p>
            </div>
            <div class="color-box" style="background-color: #8E9081;" data-hex="#8E9081">
              <p class="hex-code">#8E9081</p>
              <p class="color-name">Bitter</p>
              <p class="copy-message">Copy</p>
            </div>
            <div class="color-box" style="background-color: #8C808D;" data-hex="#8C808D">
              <p class="hex-code">#8C808D</p>
              <p class="color-name">Mamba</p>
              <p class="copy-message">Copy</p>
            </div>
            <div class="color-box" style="background-color: #C3BCBA;" data-hex="#C3BCBA">
              <p class="hex-code">#C3BCBA</p>
              <p class="color-name">Silver Rust</p>
              <p class="copy-message">Copy</p>
            </div>
          </div>
        </div>
    </section>
      <script>
        // Function to copy the hex code to clipboard
function copyToClipboard(hexCode, box) {
  navigator.clipboard.writeText(hexCode).then(() => {
    // Change 'Copy' to a checkmark
    const copyMessage = box.querySelector('.copy-message');
    copyMessage.textContent = '✔';
    copyMessage.classList.add('copied');

    // Reset the message after 2 seconds
    setTimeout(() => {
      copyMessage.textContent = 'Copy';
      copyMessage.classList.remove('copied');
    }, 2000);
  });
}

// Add hover and click events to the color boxes
const colorBoxes = document.querySelectorAll('.color-box');
colorBoxes.forEach(box => {
  // Hover effect to show 'Copy' message
  const copyMessage = box.querySelector('.copy-message');
  copyMessage.classList.add('active');

  // Click event to copy the hex code
  box.addEventListener('click', () => {
    const hex = box.getAttribute('data-hex');
    copyToClipboard(hex, box);
  });
});
    </script>
</body>
</html>